body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em; }

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

h1, h2, h3, h4, h5, .header, .sidebar, .site-nav {
  font-family: 'Libre Baskerville', serif; }

a {
  color: #34969F; }
  a:hover {
    color: #C536BF;
    text-decoration: none; }

h1 {
  font-size: 3em;
  line-height: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-top: 0.6em;
  margin-bottom: 0.6em; }

h3 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

h4 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em; }

h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

.header {
  margin-top: 36px;
  margin-bottom: 36px; }
  .header .title {
    float: left;
    font-size: 2em;
    line-height: 1.5em; }
  .header .site-nav {
    list-style: none;
    margin-top: 12px; }
    .header .site-nav li {
      line-height: 24px;
      margin-top: 12px;
      display: inline;
      font-style: italic;
      margin-right: 20px; }

.sidebar {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
  font-size: 0.75em;
  line-height: 2em;
  margin-top: 3em; }

.post-tags {
  margin-top: 3em; }
  .post-tags i {
    float: left;
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.5); }
  .post-tags ul {
    list-style: none;
    margin-left: 25px; }
    .post-tags ul li {
      line-height: 2em; }

.post {
  margin-bottom: 3em; }

.video-container {
  text-align: center; }
  .video-container.vimeo {
    padding-top: 0.4375em;
    padding-bottom: 0.625em; }

footer {
  text-align: center; }
