@import url(http://fonts.googleapis.com/css?family=Donegal+One|Oxygen:400,300);
@media print {
  .resume body, .resume p, .resume ul, .resume .address, .resume .contacts {
    font-size: 0.758em;
    border: none; }
  .resume a, .resume a:hover, .resume a:visited {
    color: black;
    text-decoration: none; }
  .resume .sidebar, .resume .header, .resume .header .container, .resume footer {
    display: none; }
  .resume .address {
    float: left; }
  .resume .job header {
    font-size: 1em; }
  .resume .contacts {
    float: right;
    padding-right: 2em; }
  .resume .content {
    clear: both; } }
@media screen {
  .resume .resume-header {
    display: none; }
  .resume .job header {
    font-size: 1.227em; } }
@media all {
  .resume ul li {
    margin-left: 1.227em; }
  .resume .job header {
    margin-bottom: 1em; }
    .resume .job header .title {
      font-style: italic; }
  .resume .school .degree {
    font-style: italic; } }

body {
  font-family: 'Oxygen', sans-serif; }

a {
  color: white;
  text-shadow: none;
  font-weight: normal; }

a:hover {
  color: #C536BF;
  text-decoration: none;
  text-shadow: none; }

h1, h2, h3, h4, h5 {
  font-family: 'Donegal One', serif; }

p {
  font-size: 1em;
  line-height: 1.5em; }

.header {
  background: #333332;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  font-family: 'Donegal One', serif;
  min-width: 940px; }
  .header .name span {
    color: #C536BF;
    padding: 0 15px; }

.nav > li > a:hover {
  color: #C536BF; }

.container {
  margin-left: auto;
  margin-right: auto; }
  .container a {
    color: #34969F; }
  .container a:hover {
    color: #C536BF; }

.posts img {
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.15);
  margin: 1.618em; }
.posts .img-left {
  float: left;
  margin-left: 0; }
.posts .img-right {
  float: right;
  margin-right: 0;
  margin-top: 0; }
.posts .img-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }
.posts .no-box-shadow {
  box-shadow: none; }
.posts .post-header {
  margin-bottom: 10px; }
.posts .post-date {
  color: gray;
  display: inline; }
.posts .tags {
  float: right;
  font-size: 0.758em;
  max-width: 550px; }
  .posts .tags .tag {
    float: right;
    display: inline-block;
    padding: 0 10px;
    background: #eee;
    border-radius: 10px;
    margin: 0 3px 3px 3px; }
.posts code {
  font-size: 1em; }
.posts .inset {
  margin-left: 20px; }
.posts .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 80px;
  margin-bottom: 10px; }
.posts .video-container iframe,
.posts .video-container object,
.posts .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.sidebar .contacts {
  padding-bottom: 1.618em; }
  .sidebar .contacts a {
    padding-left: 1.618em; }

.summary {
  padding: 8px 0; }

.archive-list {
  list-style: none; }
  .archive-list ul {
    list-style: none; }

.archive-list > li {
  padding: 20px 0; }

.group {
  margin-left: 10px; }

.description {
  font-style: italic;
  margin: 10px 0px 0px 15px; }

footer {
  height: 50px;
  text-align: center; }
