$font-size: 16px;
// $line-height: 24px;
$h1-font-size: 3 * $font-size;
$h2-font-size: 2.5 * $font-size;
$h3-font-size: 2 * $font-size;
$h4-font-size: 1.5 * $font-size;
$h5-font-size: 1 * $font-size;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px
);

@import "bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

@function px_to_em($desired_px, $context_px: $font-size) {
    @return ($desired_px / $context_px) * 1em;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5, .navbar, .post-date, .post-tags, .site-nav {
	font-family: 'Libre Baskerville', serif;
}
a {
  color: #34969F;
	&:hover {
	  color: #C536BF;
	  text-decoration: none;
	}
}


.header {
	.site-nav {
		list-style: none;
		margin-top: 12px;

		li {
			display: inline;
			font-style: italic;
			margin-right: 20px;
		}
	}
}

.post-date, .post-tags {
	color: rgba(0,0,0,.5);
	font-style: italic;
	font-size: px_to_em(12px);
}
.blockquote {
	@extend .border-start;
	@extend .px-3; 
	@extend .border-4;
}

.video-container {
	text-align: center;
	&.vimeo {
		padding-top: px_to_em(7px);
		padding-bottom: px_to_em(10px);
	}
}
footer {
	text-align: center;
}

