$font-size: 16px;
$line-height: 24px;
$h1-font-size: 3 * $font-size;
$h2-font-size: 2.5 * $font-size;
$h3-font-size: 2 * $font-size;
$h4-font-size: 1.5 * $font-size;
$h5-font-size: 1 * $font-size;

@import "bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

@function px_to_em($desired_px, $context_px: $font-size) {
    @return ($desired_px / $context_px) * 1em;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {
	margin:0;
	padding:0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

p{
	font-size: px_to_em($font-size);
	line-height: px_to_em($line-height);
	margin-top: px_to_em($line-height);
	margin-bottom: px_to_em($line-height);
}
h1,h2,h3,h4,h5, .navbar, .sidebar, .site-nav {
	font-family: 'Libre Baskerville', serif;
}
a {
  color: #34969F;
	&:hover {
	  color: #C536BF;
	  text-decoration: none;
	}
}

h1 {
	font-size: px_to_em($h1-font-size); // should be 3em, 3 * the font_size
	line-height: px_to_em(2*$line-height, $h1-font-size); // relative to the font size in the selector
	margin-top: px_to_em($line-height, $h1-font-size);
	margin-bottom: px_to_em($line-height, $h1-font-size);

}

h2 {
	font-size: px_to_em($h2-font-size);
	line-height: px_to_em(2*$line-height, $h2-font-size);
	margin-top: px_to_em($line-height, $h2-font-size);
	margin-bottom: px_to_em($line-height, $h2-font-size);
	// This checks out
}

h3 {
	font-size: px_to_em($h3-font-size);
	line-height: px_to_em(2*$line-height, $h3-font-size);
	margin-top: px_to_em($line-height, $h3-font-size);
	margin-bottom: px_to_em($line-height, $h3-font-size);
}

h4 {
	font-size: px_to_em($h4-font-size);
	line-height: px_to_em($line-height, $h4-font-size);
	margin-top: px_to_em($line-height, $h4-font-size);
	margin-bottom: px_to_em($line-height, $h4-font-size);
}

h5 {
	font-size: px_to_em($h5-font-size);
	line-height: px_to_em($line-height, $h5-font-size);
	margin-top: px_to_em($line-height, $h5-font-size);
	margin-bottom: px_to_em($line-height, $h5-font-size);
}

.header {
	margin-top: 36px;
	margin-bottom: 36px;

	.title {
		float: left;
		font-size: px_to_em($h3-font-size);
		line-height: px_to_em(2*$line-height, $h3-font-size);
	}
	.site-nav {
		list-style: none;
		margin-top: 12px;

		li {
			line-height: 24px;
			margin-top: 12px;
			display: inline;
			font-style: italic;
			margin-right: 20px;
		}
	}
}

.sidebar {
	color: rgba(0,0,0,.5);
	font-style: italic;
	font-size: px_to_em(12px);
	line-height: px_to_em(24px, 12px);
	margin-top: px_to_em(36px, 12px);
}
.post-tags {
	margin-top: px_to_em(36px, 12px);
	i {
		float: left;
		padding-top: 5px;
		color: rgba(0,0,0,.5);
	}
	ul {
		list-style: none;
		margin-left: 25px;
		li {
			line-height: 2em;
		}
	}
}

.post {
	margin-bottom: 3em;
}


.video-container {
	text-align: center;
	&.vimeo {
		padding-top: px_to_em(7px);
		padding-bottom: px_to_em(10px);
	}
}
footer {
	text-align: center;
}

