body {
  background-image: url(../img/subtle_zebra_3d.png);
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;

}

a {
  color: white;
  text-shadow: none;
}
a:hover {
  color: #C536BF;
  text-decoration: none;
  text-shadow: none;
}

.main-container {
  width: 60%;
  margin: 30px auto 50px auto;
}

.header-container {
  background: #333332;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  header {
    padding-top: 40px;
    height: 60px;
    width: 80%;
    margin: 0 auto;
  }

  .name {
    float: left;
    font-weight: bold;
    font-size: 2.5em;
    span {
      color: #C536BF;
      padding: 0 15px;
    }

  }
  .contacts {
    list-style: none;
    float: right;
    font-size: 1.5em;

    li {
      display: inline;
      padding-left: 15px;
    }
  }
}

.post-container {
  background-color: white;
  padding: 5px 25px 15px 25px;
  margin: 0 auto 20px auto;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 10px #CCC;
  -moz-box-shadow: 1px 1px 10px #ccc;
  -ms-box-shadow: 1px 1px 10px #ccc;
  -o-box-shadow: 1px 1px 10px #ccc;
  box-shadow: 1px 1px 10px #CCC;
  a {
    color: #34969F;
  }
  a:hover {
    color: #C536BF;
  }
  img {
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.15);
    margin: 25px;
  }
  .img-left {
    float: left;
    margin-left: 0;
  }
  .img-right {
    float: right;
    margin-right: 0;
    margin-top: 0;
  }
  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .no-box-shadow {
    box-shadow: none;
  }

  .tag-list {
    list-style: none;
    float: right;
    li {
      background-color: #DFDFDF;
      border-radius: 3px;
      padding: 0 3px;
      display: inline;
    }
  }
}

.summary {
  padding: 8px 0;
}

.archive-list {
  list-style: none;
  ul {
    list-style: none;
  }
}
.archive-list > li {
  padding: 20px 0;
}


.post-date {
  float: left;
  clear: both;
  color: gray;
  padding-bottom: 15px;
}

.group {
  margin-left: 10px;
}
.description{
  font-style: italic;
  margin: 10px 0px 0px 15px;
}

footer {
  height: 50px;
  text-align: center;
}