// @import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic);
// @import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Oxygen:400,700);
// @import url(http://fonts.googleapis.com/css?family=Donegal+One|Oxygen:400,300);
// @import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Open+Sans);
@import 'font-awesome';

$font-size: 16px;
$line-height: 24px;

@function px_to_em($desired_px, $context_px: $font-size) {
    @return ($desired_px / $context_px) * 1em;
}
@function relative_line_height($desired_px, $context_px: $font-size) {

}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {  
	margin:0; 
	padding:0; 
}

body {
	// font-family: 'Libre Baskerville', serif;
	font-family: 'Open Sans', sans-serif;
	background: url(/img/underline.gif);
	font-size: 1em;
}

p{
	// font-size: (16px/$font-size) * 1em;
	font-size: px_to_em(16px);
	line-height: $line-height; // 24px
	margin-top: ($line-height/$font-size) * 1em;
	margin-bottom: ($line-height/$font-size) * 1em;
}
h1,h2,h3,h4,h5,.sidebar, .site-nav {
	font-family: 'Libre Baskerville', serif;
}

h1 {
	font-size: (54em/16); // 54px
	line-height: (48em/53);
	padding-top: 3px;
	margin-bottom: (21em/54);

}

h2 {
	font-size: (42em/16); // 42px
	line-height: (48em/42);
	
	margin-bottom: (24em/42);

}

h3 {
	font-size: (33/16); // 34px
	line-height: 1em; // line-height / font-size
	// padding-top: 3px;
	margin-bottom: 1em;
}

h4 {
	font-size: (21em/16);
	line-height: (24em/21);
	
	margin-bottom: (24em/21);
}
h5 {
	font-size: (14em/16);
	line-height: (24em/14);
	padding-top: 2px;
}
.header {
	height: 4.500em;
	padding-top: 1.5em;
}
.site-nav {
	list-style: none;
	padding-top: 3px;
	li {
		display: inline;
		font-style: italic;
		margin-right: 20px;
	}
}
.sidebar {
	color: rgba(0,0,0,.5);
	font-style: italic;
	font-size: (12em/16);
	line-height: (24em/12);
}
.post-tags {
	i {
		float: left;
		padding-top: 5px;
	}
	ul {
		list-style: none;
		margin-left: 25px;
		li {
			line-height: 2em;
		}
	}
}

.post {
	margin-bottom: 3em;
}

.video-container {
	&.vimeo {
		margin-bottom: 0.188em;
	}
}
footer {
	text-align: center;
}

