<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ page.title || "Katie Miller" }} </title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/css/vendor/bootstrap.min.css" media='screen' rel='stylesheet' type='text/css' />
    <link href="/css/vendor/bootstrap-responsive.min.css" media='screen' rel='stylesheet' type='text/css' />
    <link href="/css/main.css" rel="stylesheet" media="screen" type="text/css" >
    <!-- <link href="/css/print.css" rel="stylesheet" media="print" type="text/css" > -->
    <link rel="shortcut icon" href="/favicon2.ico" />
  </head>
  <body>
    <div class='header-container'>
      <header>
        <div class='name'><a href="/">phedinkus</a><span>katie miller</span></div>
        <ul class='contacts'>
          <!-- <li><a href="/about">about</a></li> -->
          <li><a href="mailto:kt@phedink.us">email</a></li>
          <li><a href='http://github.com/phedinkus' title='github'>github</a></li>
          <li><a href="http://www.twitter.com/phedinkus">twitter</a></li>
        </ul>
      </header>
    </div>
    <div class='main-container'>
      {{content}}
    </div>
    <footer>
      <p>© Katie Miller</p>
    </footer>
  </body>
</html>