<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ page.title || "Katie Miller" }} </title>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic|Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/css/vendor/bootstrap.min.css" media='screen' rel='stylesheet' type='text/css' />
    <link href="/css/vendor/font-awesome.min.css" media='screen' rel='stylesheet' type='text/css' />
    <link href="/css/main.css" rel="stylesheet" media="all" type="text/css" >
    <link rel="shortcut icon" href="/favicon2.ico" />
  </head>
  <body class={{page.class}}>
    <header id="" class="header">
      <div class="container">
        <div class="row">
          <div class="span12">
            <a href="/" title="home" class="title">phedinkus</a>
            <ul class="site-nav pull-right">
              <li><a href="/about.html" title="about katie">about katie</a></li>
              <li><a href="" title="">blog</a></li>
            </ul>
          </div>
        </div>

      </div>

    </header>
    <!-- /header -->
    <div class="container">
      {{content}}
      <footer>
        <p>© Katie Miller</p>
      </footer>
    </div>


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36961799-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.baseline.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>