<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ page.title or "Katie Miller" }} </title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/css/vendor/bootstrap.min.css" media='screen' rel='stylesheet' type='text/css' />
    <link href="/css/remodel.css" rel="stylesheet" media="all" type="text/css" >
    <link rel="shortcut icon" href="/favicon2.ico" />
  </head>
  <body class={{page.class}}>
    <div class="header">
      <div class='container'>
        <div class="row">
            <div class='span12 name'><h1><a href="/">phedinkus</a><span>katie miller</span></h1></div>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='span9 posts'>
          {{content}}
        </div>
        <div class='span3 sidebar'>
          <div class='contacts'>
            <h3>contact kt:</h3>
            <h4><a href="mailto:kt@phedink.us" title='email' class='email'>email</a></h4>
            <h4><a href='https://github.com/phedinkus' title='github' class='github'>
              github</a></h4>
            <h4><a href="https://www.twitter.com/phedinkus" title='twitter'>twitter</a></h4>
            <h4><a href="https://www.linkedin.com/pub/katie-miller/2b/612/61" title='linkedin'>linkedin</a></h4>
            <hr>
            <h4><a href="/resume">resume</a></h4>
          </div>
          <div class='twitter-feed'>
             <a class="twitter-timeline" data-dnt=true href="https://twitter.com/phedinkus" data-widget-id="277936720610197504">Tweets by @phedinkus</a>
          </div>
        </div>
      </div>
      <div class='clearfix'></div>
      <footer>
        <p>© Katie Miller</p>
      </footer>
    </div>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36961799-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>