---
layout: default
---
<div class='row'>
  <div class='span3'>
    <div class='post-date'>{{ page.date | date: "%b %d, %Y" }}</div>
    <div class='tags'>
      {% for tag in page.tags %}
        <div class='tag'>
          <a href="/tag/{{tag}}">{{tag}}</a>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='span6'>
    <div class='post-header'>
      <h2>{{ page.title }}</h2>
    </div>
    <div class='clearfix'></div>
    <div class='post-content'>
      {{ content }}
    </div>
  </div>
</div>

