---
layout: default
---

<div class="post row">
  <div class="span2 sidebar">
    <div>{{ page.date | date: "%b %d, %Y" }}</div>
    {% if page.tags %}
      <div class="post-tags">
        <i class='icon-tag'></i>
        <ul>
          {% for tag in page.tags %}
            <li><a href="/tag/{{tag}}">{{tag}}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    </div>

  <div class="span8">
    
    <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>

    {{ content }}

  </div>
</div>
